.table-hover tbody tr:hover > td {
    background-color: #7ac6f842;
}

.t-head tr > th {
    color: rgb(64, 99, 146);
    padding: 15px;
}

.main-table {
    box-shadow: 3px 3px 10px 10px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
}
.tbody {
    padding: 2px;
}
