* {
    margin: 0;
    padding: 0;
}

.button-options {
    padding-right: 25px;
    background: #f8f9fa;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
}

.checkbox {
    width: 25px;
}

.button-items {
    padding: 5px;
    margin-top: 30px;
}
